* {
    box-sizing: border-box;
}

body { 
    /* background-image: url("../images/wheat.jpg"); */
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: lightblue; 
}



.hero {
 background-color:skyblue; 
}